<div class="sign-up-container">
    <div class="banner">
        <img class="banner__logo" [src]="logoTextWhite" alt="Grow Well Logo">
        <img class="banner__logo--mobile" [src]="logoTextWhiteMobile" alt="Grow Well Logo">
    </div>
    <form class="form">
        <div class="form__header">Sign Up</div>
        <div class="form__control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username...">
        </div>
        <div class="form__control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email...">
        </div>
        <div class="form__control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••••••••">
        </div>
        <div class="form__control">
            <label for="repeat-password">Repeat Password</label>
            <input type="password" name="repeat-password" id="repeat-password" placeholder="••••••••••••••">
        </div>
        <div class="form__buttons">
            <button class="form__buttons--register" type="submit">Sign Up</button>
            <button class="form__buttons--login" type="button">Sign In &#10230;</button>
        </div>
    </form>
</div>
